.main-susan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  background-color: rgba(195, 215, 211, 0.9);
}

.frame {
  width: 30%;
  height: auto;
  overflow: hidden;
}

.frame img {
  width: 100%;
  height: auto;
  display: block;
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

.frame {
  background-color:#ddc;
  border:solid 2rem #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:4rem 0 1rem;
  height:auto;
  padding:3rem;
  position:relative;
  text-align:center;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}
